(
    axes: {
        "x": Multiple([
            Emulated(
                neg: Key(A),
                pos: Key(D),
            ),
            Emulated(
                neg: Key(Left),
                pos: Key(Right),
            ),
        ]),
    },
    actions: {
        "jump": [[Key(Space)], [Key(W)], [Key(Up)]],
        "pause": [[Key(Escape)]],
    },
)