(
    size: (3000, 820),
    player: (
        pos: (100, 130),
        size: (40, 60),
        color: (255, 0, 0),
    ),
    targets: [
        (
            name: "t0",
            pos: (2800, 320),
            size: (100, 250),
            color: (240, 230, 140),
        ),
    ],
    coins: [
        (
            name: "c0",
            pos: (910, 105),
            size: (10, 10),
            color: (255, 215, 0),
        ),
        (
            name: "c1",
            pos: (1950, 540),
            size: (10, 10),
            color: (255, 215, 0),
        ),
        (
            name: "c2",
            pos: (1950, 450),
            size: (10, 10),
            color: (255, 215, 0),
        ),
    ],
    switches: [
    ],
    monsters: [
        (
            name: "m0",
            track: [
                (
                    pos: (960, 130),
                    speed: (1, 0),
                ),
                (
                    pos: (1450, 130),
                    speed: (-1, 0),
                ),
            ],
            size: (40, 60),
            color: (50, 205, 50),
        ),
    ],
    elevators: [
        (
            name: "e0",
            track: [
                (
                    pos: (1630, 120),
                    speed: (0, 1),
                ),
                (
                    pos: (1630, 620),
                    speed: (0, -1),
                ),
            ],
            size: (160, 40),
            color: (0, 0, 128),
        ),
    ],
    obstacles: [
        (
            name: "o-ground",
            pos: (0, 70),
            size: (3000, 70),
            color: (0, 0, 128),
        ),
        (
            name: "o-ceiling",
            pos: (0, 830),
            size: (3000, 10),
            color: (0, 0, 128),
        ),
        (
            name: "o0-left",
            pos: (600, 470),
            size: (250, 400),
            color: (0, 0, 128),
        ),
        (
            name: "o0-top",
            pos: (850, 470),
            size: (400, 250),
            color: (0, 0, 128),
        ),
        (
            name: "o1-left",
            pos: (1800, 670),
            size: (130, 600),
            color: (0, 0, 128),
        ),
        (
            name: "o1-top",
            pos: (1930, 670),
            size: (270, 100),
            color: (0, 0, 128),
        ),
        (
            name: "o1-bottom",
            pos: (1930, 420),
            size: (270, 350),
            color: (0, 0, 128),
        ),
    ],
    descriptions: [
        (
            name: "d-double-jump",
            pos: (500, 300),
            size: (180, 100),
            text: "PRESS W TWICE TO DO A DOUBLE JUMP",
            font: (
                family: "uasquared.ttf",
                size: 20,
            ),
            color: (128, 128, 128),
        ),
        (
            name: "d-elevator",
            pos: (1700, 220),
            size: (180, 100),
            text: "ElEVATORS CAN LIFT PLAYER TO HIGH PLACES",
            font: (
                family: "uasquared.ttf",
                size: 20,
            ),
            color: (128, 128, 128),
        ),
        (
            name: "d-elevator",
            pos: (2000, 770),
            size: (180, 100),
            text: "YOU CANNOT JUMP HIGHER THAN THE MAP",
            font: (
                family: "uasquared.ttf",
                size: 20,
            ),
            color: (128, 128, 128),
        ),
    ],
)
